---
layout: default
title : Tags
---

<div>
    <h1 class="page-heading">Tag: <a>#{{ page.tag }}</a></h1>

    {% for post in site.categories[page.tag] %}
       
    <ul class="post-list">
        <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
            </a>
            </h3>
        </li>
    </ul>
    {% endfor %}
</div>